<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonaChina</title>

    <style>
        h1{
            text-align: center;
            color: #770c72;
            font-family: Arial, sans-serif;
        }
    img{
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
    }
    
    </style>


</head>
<body>
    <h1>Bienvenido a la MonaChina</h1>
    <img src="Dancing_Mona_Genshin_Impact.gif" alt="mona china bailando">
</body>
</html>